
/* hospital history */

#history{
    .history-image{
        padding-bottom: 50px;
        img {
            width: 100%;
        }
    }
    .history-text{
        padding: 50px 0px;
        letter-spacing: 2px;
        line-height: 20px;
    }
}