$color_gray-light-backgorund: #f6f6f6;
$color_gray-text: #707070;
$color_gray-darker-text: #bbbbbb;
$color_black-dark-text: #002c3d;
$color_blue-lighter: #f1f6fa;
$color_orange-text: #f15942;

$gradient_white-blue: linear-gradient(53deg, #01a9d8 0%, #016798 100%);
$gradient_orange: linear-gradient(270deg, #ff7800 0%, #c5630d 100%);
$gradient_blue-white: linear-gradient(to right, #006999 0%, #01a9d8 100%);
